{% extends 'base.html' %}
{% load static %}
{% block title %}
| Sign Up Page
{% endblock title %}

{% block content %}
<div class="flex items-center justify-center h-screen -my-12">
  <div class="max-w-lg w-full bg-gray-800 text-white shadow-md rounded-lg p-8 space-y-3">
    <h2 class="text-2xl font-bold text-center text-gray-100">Sign Up</h2>
    <form method="POST" enctype="multipart/form-data" class="space-y-2">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="grid grid-cols-1 gap-y-3">
        <div class="flex flex-row items-center space-x-4">
          <label for="username" class="text-sm font-medium text-gray-100 w-1/3">Username</label>
          <div class="w-2/3">
            {{ form.username }}
            <small class="text-red-500">
              {{ form.username.errors }}
            </small>
          </div>
        </div>
        <div class="flex flex-row items-center space-x-4">
          <label for="email" class="text-sm font-medium text-gray-100 w-1/3">Email</label>
          <div class="w-2/3">
            {{ form.email }}
            <small class="text-red-500">
              {{ form.email.errors }}
            </small>
          </div>
        </div>
        <div class="flex flex-row items-center space-x-4">
          <label for="password1" class="text-sm font-medium text-gray-100 w-1/3">Password</label>
          <div class="w-2/3">
            {{ form.password1 }}
            <small class="text-red-500">
              {{ form.password1.errors }}
            </small>
          </div>
        </div>
        <div class="flex flex-row space-x-4">
          <label for="password2" class="text-sm font-medium text-gray-100 w-1/3">Confirm Password</label>
          <div class="w-2/3">
            {{ form.password2 }}
            <small class="text-red-500">
              {{ form.password2.errors }}
            </small>
          </div>
        </div>
        <div class="flex flex-row items-center space-x-4">
          <label for="profile" class="text-sm font-medium text-gray-100 w-1/3">Upload Your Image</label>
          <div class="w-2/3">
            {{ form.profile }}
            <small class="text-red-500">
              {{ form.profile.errors }}
            </small>
          </div>
        </div>
      </div>
      <div>
        <button type="submit"
          class="w-full py-3 px-6 bg-blue-500 text-white font-bold rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}