{% extends 'base.html'%}
{% block title %}
Movie Review Site
{% endblock %}

{% block content %}

<div class="container mx-auto px-4 py-8 -my-10">
  <h1 class="text-5xl font-extrabold text-lime-400 text-center my-12">Movie Reviews</h1>
  {% for movie in movies %}
  <div class="block md:flex gap-4 my-6 bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    <div class="">
      <img src="{{ movie.image.url }}" class="aspect-w-4 movie-image max-w-full h-64 md:h-80 rounded-lg"
        alt="{{ movie.title }}" />
    </div>
    <div class="flex-1 p-4 md:p-6 md:pt-4">
      <a href="{% url 'detail' movie.id %}" class="">
        <h5 class="text-3xl font-extrabold text-lime-300 hover:text-lime-400 transition-colors duration-300">
          {{movie.title }}</h5>
      </a>
      <p class="text-blue-400 italic my-2">{{ movie.date }} | {{ movie.author }}</p>
      <p class="text-gray-300">{{ movie.description }}</p>
    </div>
  </div>

  {% empty %}
  <div class="text-center text-gray-200 my-8">
    <p class="text-2xl font-bold text-red-700">No Movies Found</p>
    <p class="mt-2">Sorry, we couldn't find
      <b class="text-red-500 px-1">{{search_movie}}</b>at the moment.
    </p>
    <p class="mt-2">Please check back later or explore other movies.</p>
  </div>
  {% endfor %}
</div>

{% endblock%}